<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <form action="/call_function" method="post" enctype="multipart/form-data">
        <label for="file">Enter Your file:</label>
        <input type="file" id="file" name="file">
        <label for="fbqn">Enter Your fbqn:</label>
        <input type="text" id="fbqn" name="fbqn">
        <label for="port">Enter Your Port:</label>
        <input type="text" id="port" name="port">
        <input type="submit" value="upload">
    </form>
    {% if exist == True %}
    <h1>This file already exists</h1>
    {% endif %}
    <div id="info">
        {% if file_loc %}
        <p>this is your file location: {{file_loc}}</p>
        {% endif %}
        {% if fbqn %}
        <p>this is your fbqn: {{fbqn}}</p>
        {% endif %}
        {% if port %}
        <p>this is your port: {{port}}</p>
        {% endif %}
    </div>
    <div id="results">
        {% if compile_res %}
        <p id="compile">this is your compile reslut: {{compile_res}}</p>
        {% endif %}
        {% if upload_res %}
        <p id="upload">this is your upload reslut: {{upload_res}}</p>
        {% endif %}  
    </div>

</body>
<script src="../static/script/script.js"></script>
</html>