<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROV Camera Display</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@v0.163.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@v0.163.0/examples/jsm/"
        }
      }
    </script>
    </script>
</head>

<body>
    <div class="container">
        <div id="left-container" class="side-container camera-container">
            <!-- Left Container for Cameras -->
            {% set total_cameras = 8 %}
            {% set available_count = available_cameras | length %}
            {% set placeholder_count = total_cameras - available_count %}
            
            <!-- Calculate how many available cameras for the left side -->
            {% set left_cameras = available_cameras[:4] %}
            {% set left_placeholders = range(4 - left_cameras | length) %}
    
            <!-- Render available cameras for the left side -->
            {% for camera in left_cameras %}
                <div class="camera item" index="{{ camera }}">
                    <img src="{{ url_for('video_feed', camera_index=camera) }}" alt="Camera {{ camera }} feed">
                    <div class="hover-menu">
                        <div class="menu-option" onclick="setPrimaryCamera(this.parentElement.parentElement)">Click to move</div>
                    </div>
                    <select name= "quality_value" id="quality" onchange="changeQuality(this)" index="{{ camera }}" value>
                        <option value="20">very low</option>
                        <option value="40">low</option>
                        <option value="60">normal</option>
                        <option value="80">high</option>
                        <option value="100">very high</option>
                    </select>
                </div>
            {% endfor %}
    
            <!-- Render placeholders for the left side -->
            {% for i in left_placeholders %}
                <div class="placeholder item" onclick="setPrimaryCamera(this)">
                    Placeholder Camera
                    <div class="hover-menu">
                        <div class="menu-option">Click to move</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
        <div id="middle-container" class="main-container">
            <!-- Middle container for up to 2 selected primary cameras -->
        </div>
    
        <div id="right-container" class="side-container camera-container">
            <!-- Right Container for Cameras -->
            <!-- Calculate how many available cameras for the right side -->
            {% set right_cameras = available_cameras[4:8] %}
            {% set right_placeholders = range(4 - right_cameras | length) %}
    
            <!-- Render available cameras for the right side -->
            {% for camera in right_cameras %}
                <div class="camera item" onclick="setPrimaryCamera(this)" index="{{ camera }}">
                    <img src="{{ url_for('video_feed', camera_index=camera) }}" alt="Camera {{ camera }} feed">
                    <div class="hover-menu">
                        <div class="menu-option">Click to move</div>
                    </div>
                    <select name= "quality_value" id="quality" onchange="changeQuality(this)" index="{{ camera }}" >
                        <option value="20">very low</option>
                        <option value="40">low</option>
                        <option value="60">normal</option>
                        <option value="80">high</option>
                        <option value="100">very high</option>
                    </select>
                </div>
            {% endfor %}
    
            <!-- Render placeholders for the right side -->
            {% for i in right_placeholders %}
                <div class="placeholder item" onclick="setPrimaryCamera(this)">
                    Placeholder Camera
                    <div class="hover-menu">
                        <div class="menu-option">Click to move</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="joy-stick">
            <h1>Joystick Status Monitor</h1>
            <div id="output" class="output"></div>
        </div>
        <div id="model"></div>
    </div>
<script src="../static/script/script.js"></script>
<script type="module" src="../static/script/read.js"></script>
<script type="module" src="../static/script/gui_3d.js"></script>
</body>

</html>